<ion-header>
  <ion-toolbar>
    <!--boton para volver-->
    <ion-buttons slot="start">
       <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>

    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- INICIO REGISTRO -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
      <ion-card-subtitle>Bienvenido a RegistrAPP</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [counter]="true" label="Nombre de Usuario" label-placement="floating" type="text" fill="solid"
          placeholder="Usuario" errorText="Nombre de usuario incorrecto" maxlength="20" required minlength="5"
          maxlength="25"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [counter]="true" type="email" label="Correo Electrónico" label-placement="floating" fill="solid"
          placeholder="Correo@gmail.cl" errorText="Correo Electrónico No Valido " maxlength="30" required minlength="5"
          maxlength="40"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [counter]="true" label="Contraseña" label-placement="floating" type="password" fill="solid"
          placeholder="********" errorText="Contraseña No Valida" required minlength="8" maxlength="25"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [counter]="true" label="Confirme Contraseña" label-placement="floating" type="password" fill="solid"
          placeholder="********" errorText="No Coincide" required minlength="8" maxlength="25"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="tel" fill="solid" label="Numero Telefono" label-placement="floating"
          placeholder="Numero De Telefono" errorText="Contraseña No Coincide" required minlength="8"></ion-input>
      </ion-item>
      <ion-button expand="block" id="btn-registrarse">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- FIN REGISTRO -->
</ion-content>