/* recuperar.page.scss */
#container {
    padding: 16px; /* Ajusta el padding si es necesario */
  }
  
  p {
    font-size: 16px; /* Asegúrate de que el texto sea visible */
    margin-bottom: 16px; /* Espacio debajo del texto */
  }
  