<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!-- Mostrar el nombre de usuario recibido -->
    <p>Bienvenido, {{ username }}</p>

    <!-- Campo para la nueva contraseña -->
    <ion-item>
      <ion-label position="floating">Ingrese su nueva contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" >Enviar</ion-button>
  </div>
</ion-content>
