#content {
  background-image: url(../../../../assets/img/bg-app.jpg);
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 60px;
}

/* Contenedor de scroll para las tarjetas */
/* Contenedor de scroll para las tarjetas */
#scrollable-container {
  width: 85vw;
  max-height: 70vh; /* Ajustar la altura máxima para permitir el scroll vertical */
  overflow-y: scroll; /* Forzar el scroll vertical */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre las tarjetas */
  margin-top: 1em;
}

/* Estilos de las tarjetas */
.card-wrapper {
  width: 90%; /* Asegurar que ocupe todo el ancho del contenedor */
  min-height: 60%; /* Fijar una altura mínima */
  display: flex;
  flex-direction: column;
  background-color: #000000f1;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  border: solid 5px #000000;
  padding: 15px;
}

/* Imágenes dentro de las tarjetas */
.card-wrapper img {
  width: 100%;
  height: 30%; /* Altura específica para las imágenes */
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.danger-item {
  --color: var(--ion-color-danger); /* Aplica el color rojo */
  --ion-color-base: var(--ion-color-danger); /* Asegura que el fondo también sea rojo si es necesario */
}

.button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 7px;
  background-color: #1a1a1a;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
}


.btn:hover {
  transform: scale(1.1);
}

.img-perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  border: solid 3px #000000;
}

.perfil-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.perfil-info h3,
.perfil-info p {
  margin: 0;
}
