<!-- Menú Lateral -->
<ion-menu contentId="main-content" side="start">
  <ion-content>
    <ion-menu-toggle auto-hide="false">
      <ion-button expand="block">Home</ion-button>
      <ion-button expand="block">Horarios de clases</ion-button>
      <ion-button expand="block">Notas</ion-button>
      <ion-button expand="block">Asistencia</ion-button>
      <ion-button expand="block">Correo</ion-button>
    </ion-menu-toggle>
    <div class="logout-section">
      <ion-button expand="block" color="danger" class="logout-button" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </div>
  </ion-content>
</ion-menu>

<!-- Contenido Principal -->
<ion-content id="main-content" class="ion-padding contenido-p">
  <div id="content">
    <ion-button (click)="openMenu()" class="btn-menu">+</ion-button>
    <h1>Bienvenido Profesor, {{ username }}</h1>
    <div class="container-perfil">
      <ion-label id="username-perfil">{{ username }}</ion-label>
    </div>
    <div class="cont-asignaturas">
      <!-- Aquí va el contenido principal -->
    </div>
  </div>
</ion-content>
