#container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-toolbar {
  --background: #4C4745;  // Cambiar el fondo del toolbar también, si es necesario
  --color: white;           // Cambiar el color del texto si lo deseas
}
ion-title{
  color: hsl(0, 0%, 100%)
  }
  
/* BTN DEL REGISTRO PARA PODER HACERLO MAS NOTIO */
.btn-registrar-home {
  --background: #ffffff;      // Color de fondo de los botones
  --color: #4C4745;                   /* Cambia el color del texto */
  --border-width: 0.10rem;          /* Grosor del borde */
  --border-color: #ffffff;        /* Color del borde */
  --border-style: solid;            /* Cambia el color del texto */
}

#img-logo {
  width: 100%;
  max-width: 200px;
  height: 5rem;
}
ion-card-header{
  text-align: center;
  color: rgb(0, 0, 0);
}

#btn-login, #btn-registro, #btn-recovery {

    --background: #4C4745;      // Color de fondo de los botones
    --color: #ffffff;           // Color del texto de los botones
  }

