<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar color="primary">
    <!--boton para volver-->
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>

    <!--contenedor botones lado izquierdo-->
    <ion-buttons slot="end">
      <!--boton para ir al perfil-->
      <ion-button routerLink="/perfil">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>      
      <!--boton para cerrar sesion-->
      <ion-button >
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Bienvenido</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!--boton para escanear-->
  <div>
    <ion-button expand="block" shape="round" style="--background: rgb(240, 129, 33);">
        Escanear QR 📷
    </ion-button>
</div>
</ion-content>
