<ion-header>
  <ion-toolbar>
    <ion-title>Elige una acción</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="seleccionarOpcion('Generar QR')">Generar QR</ion-item>
    <ion-item button (click)="seleccionarOpcion('Crear Clase')">Crear Clase</ion-item>
    <ion-item button (click)="seleccionarOpcion('Crear Curso')">Crear Curso</ion-item>
  </ion-list>
</ion-content>
