/* recuperar.page.scss */
#container {
    padding: 16px; /* Ajusta el padding si es necesario */
  }
  
  p {
    font-size: 16px; /* Asegúrate de que el texto sea visible */
    margin-bottom: 16px; /* Espacio debajo del texto */
  }
  
  ion-toolbar {
    --background: #4C4745;  // Cambiar el fondo del toolbar también, si es necesario
    --color: white;           // Cambiar el color del texto si lo deseas
  }
  ion-title{
    color: hsl(0, 0%, 100%)
    }
  
  #btn-recuperar
  {
    --background: #4C4745;      // Color de fondo de los botones
    --color: #ffffff;           // Color del texto de los botones
  }